doctype html
head
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width, initial-scale=1")
	title TP3 - AppWeb - LiberBook
	link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css")
	link(rel="stylesheet", href="../stylesheets/opiniones.css")
	
body

	nav(class="navbar navbar-default navbar-static-top")
		.container
			.navbar-header
				a(class="navbar-brand") Liberbook


	.container
		.row
			.col-md-6.col-md-offset-3.col-sm-1
				a.thumbnail
					img(src=imagen)
		.row
			.col-md-6.col-md-offset-3.col-xs-11.col-xs-offset-1.infoLibros
				
				.row
					p(id="titulo")='Titulo: ' + valores.title
				.row
					p='Autor:' + autor
				.row
					p='Editor:' + editor
				.row
					p='Fecha de Publicación:' + fecha_publicacion
				.row
					p='Descripcion: ' + descripcion
				.row
					span='Precio Aproximado: $' + valores.precios_locales
				br
				.row
					span(id="likes")=valores.reactions.like
					img(id="btnLike" src="../images/me_gusta.jpg" width="50" height="50")
					span(id="haha")=valores.reactions.haha
					img(id="btnHaha" src="../images/me_divierte.jpg" width="50" height="50")
					span(id="wow")=valores.reactions.wow
					img(id="btnWow" src="../images/me_asombra.jpg" width="50" height="50")
					span(id="sad")=valores.reactions.sad
					img(id="btnSad" src="../images/me_entristece.jpg" width="50" height="50")
					span(id="angry")=valores.reactions.angry
					img(id="btnAngry" src="../images/me_enfada.jpg" width="50" height="50")

	script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.0/jquery.min.js")
	script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js' integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS' crossorigin='anonymous')
	script(src="../javascripts/valorarlibro.js")